.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;

  margin: 0 auto;
  width: 80%;
}

.poster {
  place-self: center;

  max-width: 70%;

  border-radius: 10px;
}

.title {
  font-size: 36px;
  font-weight: 600;
  color: whitesmoke;
}

.genres {
  display: flex;
  align-items: center;
  gap: 4px;
}

.genre {
  font-size: 16px;
  color: cadetblue;
}

.genre:not(:last-child)::after {
  content: " /";
}

.votes {
  font-size: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-top: 20px;
}

.overview {
  line-height: 120%;
}

.release {
  font-size: 14px;
}
