/* 이 파일의 이름은 반드시 module.css가 되어야 한다 */

.nav {
  position: fixed;
  top: 20px;
  left: 50%;

  margin: 0 auto;
  padding: 20px 0px;
  width: 30%;

  transform: translateX(-50%);

  border-radius: 50px;

  background-color: peachpuff;
  z-index: 10;
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.nav ul li {
  list-style: none;
  transform: none;
  transition: all 0.1s ease-in-out;
}

.nav ul li:hover {
  transform: scale(1.05);
}
